<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">


<h:body bgcolor="white">
  <f:view>
    <h:form>
      <h:panelGrid columns="2">
        <h:outputText value='Enter first number'/>
        <h:inputText value='#{calculatorBean.x}'/>
        <h:outputText value='Enter second number'/>
        <h:inputText value='#{calculatorBean.y}'/>
        <h:commandButton action="#{calculatorBean.add}" value="Add"/>
      </h:panelGrid>
    </h:form>
  </f:view>
</h:body>
</html>
