<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
  <f:view>
    <h:form id="mainForm">
      <h2>Result of adding #{calculatorBean.x} and #{calculatorBean.y} is #{calculatorBean.result }</h2>
      <h:commandLink action="back">
        <h:outputText value="Home"/>
      </h:commandLink>
    </h:form>
  </f:view>
</h:body>
</html>